@model JuvekSoft.Models.MetalStore

@{
    ViewBag.Title = "Delete";
}

<h2>Удалить</h2>

<h3>Это действие необратимо, вы уверены, что хоите удалить?</h3>
<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Photo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Photo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MetalType.MetTypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MetalType.MetTypeName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MetalName.MetalName1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MetalName.MetalName1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Size1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Size1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Size2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Size2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Size3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Size3)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Unit2.UnitName)
        </dt>


        <dd>
            @Html.DisplayFor(model => model.Unit2.UnitName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Unit1.UnitName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Unit1.UnitName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cost)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Unit.UnitName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Unit.UnitName)
        </dd>










        <dt>
            @Html.DisplayNameFor(model => model.OtherInfo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OtherInfo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InUse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InUse)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("Вернуться", "Index")
        </div>
    }
</div>
